
@media (max-width: 100em) {
    .desktop1-desktop {
      flex-direction: column;
      align-items: center;
      height: auto;
    }
  

 

    .banner{
        background-color: #003249;
        padding: 1em;
        color: #ffffff;
        border-radius: 1em;
    }

    .banner-title{
        font-size: 3em;
    
    }

    .banner-sub{
        font-size: 2.25em;
    }
  
    .desktop1-team-member3,
    .desktop1-team-member2,
    .desktop1-team-member1 {
      top: 2em;
      left: 1em;
      width: calc(100% - 2em);
      margin: 2em 0;
      align-items: center;
      border-radius: 1em;
    }
  
    .desktop1-team-member-image3,
    .desktop1-team-member-image2,
    .desktop1-team-member-image1 {
      width: 100%;
      height: auto;
    }
  
    .desktop1-our-clients-title {
      left: 1em;
      width: calc(100% - 2em);
      margin-top: 2em;
      text-align: center;
      padding: 0.5em;
      border-radius: 1em;
    }
  
    .desktop1-rectangle6,
    .desktop1-rectangle7,
    .desktop1-rectangle8,
    .desktop1-rectangle9 {
      position: static;
      width: 100%;
      height: auto;
      border-radius: 1em;
    }
  
    .desktop1-text05,
    .desktop1-text07,
    .desktop1-text09,
    .desktop1-text13 {
      font-size: 1.5em;
      width: auto;
      background-color: #0d5677;
      color: #ffffff;
      border-radius: 0.5em;
    }
  }
  